{% comment %}#component#["settings/buttons-product","settings/slider-arrows","settings/slider-dots-v2"]#endcomponent#{% endcomment %}
<div class="smi-product-detail-element smi-link-wrapper {% if block.settings.half_width_on_large_screen == true %}smi-w-50{% else %}smi-w-100{% endif %} smi-mt-lg {{- ' smi-product-feature-icon' -}}
    {% liquid
        if block.settings.half_width_on_large_screen == true
            echo ' smi-product-feature-icon-half-width'
        endif
    %}" 
    style="--icon-size: {{ block.settings.icon_size }}px"
    {{ block.shopify_attributes }}
    >
    <div class="heading-feature-content smi-d-flex smi-w-100">
    {%- if block.settings.upload_icon != blank -%}
        {%  assign icon_size = block.settings.icon_size |  plus: 100 %}
        {{
        block.settings.upload_icon
        | image_url: width: block.settings.icon_size
        | image_tag: loading: 'lazy', class: 'heading-feature-icon smi-mr-xs'
        }}
        {% else %}
        <span class="smi-product-feature-icon-span-icon {% if block.settings.icon != 'none' %} smi-mr-xs {% endif %}">{%- render 'smi-custom-icons', icon: block.settings.icon -%}</span>
    {%- endif -%}
    <div class="heading-feature-heading">
        <h3 class="{{ block.settings.heading_size }}">{{ block.settings.heading }}</h3>
        <div class="smi-text-sm smi-color-text-75">{{ block.settings.content }}</div>
    </div>
    </div>
</div>{%comment%}#includeFile#snippets/smi-custom-icons#endIncludeFile#{%endcomment%}