{% if block.settings.collapse_heading != blank %}
  <div class="smi-product-detail-element smi-block-collapse-des smi-mt-lg smi-w-100 smi-product-block-{{ section.id }} {{- ' smi-link-wrapper' -}}
    {% liquid 
      if block.settings.show_desc_below
        echo ' smi-show-after-mob'
      endif
    %}"
    {{ block.shopify_attributes }}
  >
    <div class="smi-collapse-heading smi-d-flex smi-py-sm smi-justify-content-between smi-w-100">
      <div class="smi-text-md smi-d-flex smi-align-items-center smi-column-gap-xs" style="--svg-size: {{ block.settings.icon_size }}px;">
        {% if block.settings.upload_icon != blank %}
          {% assign sizes = block.settings.icon_size | append: 'px' %}
          {{
            block.settings.upload_icon
            | image_url: width: 300
            | image_tag: widths: '100,200,300', sizes: sizes
          }}
        {% else %}
          {% if block.settings.icon != "none" %}
            {%- render 'smi-custom-icons', icon: block.settings.icon -%}
          {% endif %}
        {% endif %}
        <h3 class="{{ block.settings.heading_size }}">{{ block.settings.collapse_heading }}</h3>
      </div>
      <div class="smi-collapse-heading__icon smi-collapse-heading__icon--arrow"></div>
    </div>
    <div class="smi-collapse-content smi-color-text-75">
      <div class="{% if block.settings.collapse_content != blank or block.settings.collapse_content_page != blank %} smi-pb-sm {% endif %}">
        {{ block.settings.collapse_content }}
      </div>
      {% if block.settings.collapse_content_page != blank %}
        <div class="smi-pb-md smi-format-content">
          {{ block.settings.collapse_content_page.content }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}{%comment%}#includeFile#snippets/smi-custom-icons#endIncludeFile#{%endcomment%}