{% comment %}#component#["settings/buttons-product","settings/slider-arrows","settings/slider-dots-v2"]#endcomponent#{% endcomment %}
{% assign img_width = block.settings.image_width %}
<div
  class="smi-product-detail-element smi-product-image-gc smi-d-flex smi-flex-wrap smi-w-100 smi-mt-lg smi-link-wrapper"
  style="--content-alignment: {{ block.settings.alignment }}; --img-width: {{ img_width }}px;"
  {{ block.shopify_attributes }}
>
  {% if block.settings.heading != blank %}
    <p class="smi-mb-sm smi-text-md smi-color-text-75 smi-w-100">
      {{ block.settings.heading }}
    </p>
  {% endif %}
  {% liquid
    assign class_guaranteed_img = 'smi-media-wrapper smi-media-settings smi-product-guaranteed-checkout smi-d-flex '
    if block.settings.apply_media_style == true
      assign class_guaranteed_img = class_guaranteed_img | append: ' smi-border smi-shadow '
    endif
    assign class_guaranteed_img_sample = class_guaranteed_img | append: ' smi-sample-guaranteed-checkout smi-d-flex '
    assign img_wi = img_width | plus: 200
  %}
  {%- if block.settings.upload_checkout != blank -%}
    {{
      block.settings.upload_checkout
      | image_url: width: img_wi
      | image_tag: loading: 'lazy', class: class_guaranteed_img, sizes: '(max-width: 1000px) calc(100vw/2)'
    }}
  {%- else -%}
    {{ 'blog-apparel-3' | placeholder_svg_tag: class_guaranteed_img_sample }}
  {%- endif -%}
</div>{%comment%}#includeFile##endIncludeFile#{%endcomment%}