{% comment %}#component#["settings/buttons-product","settings/slider-arrows","settings/slider-dots-v2","settings/product-form"]#endcomponent#{% endcomment %}
<div class="smi-product-detail-element smi-product-share smi-w-100 smi-d-flex smi-align-items-center smi-column-gap-sm smi-mt-lg"
  {{ block.shopify_attributes }}
  style="--icon-size: {{ block.settings.icon_size }}px;"
>
  {% if template contains 'product' %}
    {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% endif %}
  <span>{{ block.settings.heading }}</span>
  <a target="_blank" aria-label="{{ product.title }}" href="https://www.facebook.com/sharer.php?u={{ permalinkURL }}" class="smi-d-flex share-facebook {% if block.settings.icon_style != "1" %} a-href-icon smi-d-flex smi-justify-content-center smi-align-items-center smi-px-xs smi-py-xs {% endif %} product-share-icon-{{ block.settings.icon_style }}">
    {% render 'smi-icons', icon: 'facebook' %}
  </a>
  <a target="_blank" aria-label="{{ product.title }}" href="https://twitter.com/share?url={{ permalinkURL }}" class="smi-d-flex share-twitter {% if block.settings.icon_style != "1" %} a-href-icon smi-d-flex smi-justify-content-center smi-align-items-center smi-px-xs smi-py-xs {% endif %} product-share-icon-{{ block.settings.icon_style }}">
    {% render 'smi-icons', icon: 'twitter' %}
  </a>
  <a
    target="_blank" aria-label="{{ product.title }}"
    href="https://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | product_img_url: 'original' }}&amp;description={{ product.title | escape }}"
    class="smi-d-flex share-pinterest {% if block.settings.icon_style != "1" %} a-href-icon smi-d-flex smi-justify-content-center smi-align-items-center smi-px-xs smi-py-xs {% endif %} product-share-icon-{{ block.settings.icon_style }}"
  >
    {% render 'smi-icons', icon: 'pinterest' %}
  </a>
  <span class="copy-product-link smi-copy-product-link {% if block.settings.icon_style != "1" %} a-href-icon smi-d-flex smi-justify-content-center smi-align-items-center smi-px-xs smi-py-xs {% endif %} product-share-icon-{{ block.settings.icon_style }}"
    data-smi-tooltip-copy="{{ 'smind.product.copied_product_link' | t }}"
  >
    <span class="smi-product-url smi-d-none">{{ permalinkURL }}</span>
    {% render 'smi-icons', icon: 'copy' -%}
  </span>
</div>{%comment%}#includeFile#snippets/smi-icons#endIncludeFile#{%endcomment%}