<link href="{{ 'smi-rich-text-1.min.css' | asset_url }}" rel="stylesheet" type="text/css" media="screen" onload="this.onload=null;this.media='all'">
{% comment %}#component#["settings/content-settings","settings/section-padding","settings/heading.not-alignment","settings/text","settings/heading.rich-content","settings/buttons","blocks/color","blocks/background","settings/design-mode","settings/animation-settings","settings/heading","settings/image.vars","settings/image"]#endcomponent#{% endcomment %}
<style>
    {% if block_color %}
    {% endif %}
  {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        --color-background-alpha: {{ colorblock.settings.background_color.alpha | default: 1 }};
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
    #smi-{{ section.id }} {
      --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
;
      --content-max-width: {{ section.settings.content_max_width }}px;;
      --content-alignment: {{ section.settings.content_alignment }};
      --media-position: {{ section.settings.desktop_media_position }};
  }
</style>
{% liquid
  assign content_alignment = section.settings.content_alignment
  assign color_pos = 0
  assign bkg_pos = 0
  for block in section.blocks
  if block.type == 'color'
  assign color_pos = forloop.index
  endif
  if block.type == 'background'
  assign bkg_pos = forloop.index
  endif
endfor
%}
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} 
  smi-section__inner smi-gradient smi-section-rich-text-1 smi-color-{{ section.settings.color_scheme }} smi-content-settings"
  data-section="rich-text-1" data-name="✧Rich text 1">
  
  {% liquid
    assign background_block = section.blocks | where: 'type', 'background' | first
    if background_block
      render 'smi-background'
    endif
  %}
  <input type="hidden" value="" id="interval_countdown_{{ section.id }}">
  <div class="smi-container-relative smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%}">
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div class="smi-container-detail smi-section-block-{{ section.id }} {% if section.settings.content_max_width < 576 %}min-container{% endif %} smi-content-position-{{ section.settings.content_position }} {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}"
      data-block='{
        "color_pos": "{{ color_pos }}", 
        "bkg_pos": "{{ bkg_pos }}",
        "all_block": {{ section.blocks.size }}
      }' 
    >
      <div class="smi-rich-text-detail smi-content-max-width">
        {% for block in section.blocks %}
          <div class="smi-block-postion-{{ forloop.index }}-{{ section.id }}
            content-alignment-{{ section.settings.content_alignment -}}
                {{- ' smi-rich-content' -}}
                {%- if block.type == "icon_with_text" %} smi-rich-content-half-{{ block.settings.half_width_on_large_screen }}{% endif -%}
                {%- liquid
                  if block.type != 'color' and block.type != 'background'
                      if block.type == 'button'
                       if forloop.index < section.blocks.size
                          echo ' smi-mb-lg'
                          endif
                      else
                      if forloop.index < section.blocks.size
                          echo ' smi-mb-lg'
                          endif
                      endif
                  endif
              %}
                {{- ' smi-block-type-' | append: block.type -}}" {{ block.shopify_attributes }}>
            {% if block.type == 'heading' %}
              {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{block.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = block.settings.heading | strip
    assign sub_heading = block.settings.sub_heading | strip
    assign description = block.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = block.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{%- assign heading = block.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ block.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = block.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description smi-format-content" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
            {% endif %}
            {% if block.type == 'text' %}
              <div class="smi-component-blocks-text smi-text-md" {{- block.shopify_attributes -}}>
    <div class="smi-color-text-75 smi-link-wrapper">{{ block.settings.text | newline_to_br }}</div>
</div>
            {% endif %}
            {% if block.type == 'heading_content' %}
              {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{block.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = block.settings.heading | strip
    assign sub_heading = block.settings.sub_heading | strip
    assign description = block.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign description = block.settings.description | strip -%}
{%- assign heading = block.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ block.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = block.settings.content | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description smi-format-content" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
            {% endif %}
            {% if block.type == 'button' %}
              <div class="smi-component-buttons smi-button-wrapper
    {%- if block.settings.button_full_width == true %} smi-component-buttons-full-width{%- endif -%}
    {%- unless block.settings.first_button_style contains 'text' or block.settings.second_button_style contains 'text' %} smi-component-buttons--same-width{% endunless -%}">
    {% liquid
    assign button_label = block.settings.first_button_label
    assign button_style = block.settings.first_button_style
    assign button_link = block.settings.first_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--first smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                {{- ' smi-border smi-shadow' -}}">
            <span>
                {{- button_label | escape -}}
            </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
    {% liquid
    assign button_label = block.settings.second_button_label
    assign button_style = block.settings.second_button_style
    assign button_link = block.settings.second_button_link
%}
{% if button_label != blank %}
    <a
            href="{{- button_link -}}"
            class="smi-button smi-button--second smi-text-button smi-button--{{ button_style | split: '_' | first -}}
                    {%- if button_style contains 'arrow' %} smi-has-icon{% endif %}
                    {{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' | prepend: ' smi-hover-' -}}
                    {{- ' smi-border smi-shadow' -}}">
                    <span>
                        {{- button_label | escape -}}
                    </span>
        {% if button_style contains 'arrow' %}
            <div class="smi-d-flex smi-align-content-center">
                {% render 'smi-icons', icon: 'arrow-right-2' %}
            </div>
        {% endif %}
    </a>
{% endif %}
</div>
            {% endif %}
            {% if block.type == 'image' %}
              {% assign img_width = block.settings.image_width %}
              {%- liquid
                assign img_classes = 'smi-media-wrapper '
                assign content_img = block.settings.heading | strip
                if block.settings.use_media_settings
                assign img_classes = img_classes | append: " smi-media-settings smi-border smi-shadow "
                endif
                assign placeholder_img_classes = img_classes | append: ' placeholder-img'
              -%}
              <div class="smi-component-blocks-image smi-component-blocks-image-{{ block.id }}  {{ settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' |  prepend: ' smi-hover-image-'  }}">
                {% if block.settings.heading != blank and block.settings.heading != "" and block.settings.heading != " " %}
                <p class="smi-text-md smi-color-text-75 {% if block.settings.upload_checkout != blank %} smi-mb-xs {% endif %}">
                  {{ block.settings.heading }}
                </p>
              {% endif %}
                <style>
                  .smi-component-blocks-image-{{ block.id }} {
                    --media-width: {{ img_width }}px;
                  }
                </style>
                <div class="{{ img_classes }} block-image-container" data-type="image" data-key="b.image.upload_checkout">
                  {%- if block.settings.upload_checkout != blank -%}
                    {% liquid
                      assign image_object = block.settings.upload_checkout
                      assign item_mobile = 1
                      assign item_tablet = 1
                      assign item_desktop = 1
                      assign image_width = img_width
                      assign image_classes = settings.smi_animations_hover_image | default: shop.metafields.smind.settings.value.imageHoverEffect | default: 'none' |  prepend: ' smi-hover-image-'  
                    %}
{% liquid
    unless image_width
        assign image_width = 1600
    endunless
    unless sizes
        assign percent_item_mobile = 100 | divided_by: item_mobile | default: 100
        assign percent_item_tablet = 100 | divided_by: item_tablet | default: 100
        assign percent_item_desktop = 100 | divided_by: item_desktop | default: 100
        assign sizes = '(max-width: 767px)' | append: percent_item_mobile | append: 'vw, (max-width: 991px) ' | append: percent_item_tablet | append: 'vw, ' | append: percent_item_desktop | append: 'vw'
    endunless
%} 
{{
  image_object
  | image_url: width: image_width
  | image_tag: class: image_classes, widths: '400,500,600,700,800,1000,1200,1400,1600,1900,2500', sizes: sizes
}}
                  {%- else -%}
                    {{ 'image' | placeholder_svg_tag: 'smi-placeholder-light' }}
                  {%- endif -%}
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
	"name": "✧Rich text 1-2",
	"tag": "section",
	"class": "smi-section smi-rich-text-1",
	"disabled_on": {
		"groups": [
			"header",
			"footer",
			"aside"
		]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "header",
			"content": "Content settings"
		},
		{
			"type": "select",
			"id": "content_position",
			"label": "Content position",
			"options": [
				{
					"value": "left",
					"label": "Left"
				},
				{
					"value": "center",
					"label": "Center"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "left"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "left"
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 700
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "heading",
			"name": "Heading",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "URNA CRAS MAURIS"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Happy Customers Say"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h4",
							"label": "XS"
						},
						{
							"value": "smi-h3",
							"label": "S"
						},
						{
							"value": "smi-h2",
							"label": "M"
						},
						{
							"value": "smi-h1",
							"label": "L"
						}
					],
					"default": "smi-h2"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"label": "Content",
					"default": "<p>Text</p>"
				}
			]
		},
		{
			"type": "heading_content",
			"name": "Heading & content",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Season Sale on store"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h5"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Great to save 25% on all your favorites. Don’t miss this deal!</p>"
				}
			]
		},
		{
			"type": "button",
			"name": "Buttons",
			"settings": [
				{
					"type": "header",
					"content": "Buttons"
				},
				{
					"type": "text",
					"id": "first_button_label",
					"label": "First button label",
					"default": "VIEW ALL",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "first_button_link",
					"label": "First button link"
				},
				{
					"type": "select",
					"id": "first_button_style",
					"label": "First button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "text",
					"id": "second_button_label",
					"label": "Second button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "second_button_link",
					"label": "Second button link"
				},
				{
					"type": "select",
					"id": "second_button_style",
					"label": "Second button style",
					"options": [
						{
							"value": "solid",
							"label": "Solid"
						},
						{
							"value": "solid_arrow",
							"label": "Solid & arrow"
						},
						{
							"value": "outline",
							"label": "Outline"
						},
						{
							"value": "outline_arrow",
							"label": "Outline & arrow"
						},
						{
							"value": "text",
							"label": "Text"
						},
						{
							"value": "text_arrow",
							"label": "Text & arrow"
						}
					],
					"default": "solid"
				},
				{
					"type": "checkbox",
					"id": "button_full_width",
					"label": "Button full-width",
					"default": false
				}
			]
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Guaranteed Safe Checkout"
				},
				{
					"type": "image_picker",
					"id": "upload_checkout",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 20,
					"max": 1000,
					"step": 10,
					"label": "Image width",
					"default": 320,
					"unit": "px"
				},
				{
					"type": "checkbox",
					"id": "use_media_settings",
					"label": "Use media style from theme settings",
					"default": false
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme#how-to-use-the-color-block)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "outline_button_color",
					"default": "#121212",
					"label": "Outline buttton"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Rich text 1-2",
			"settings": {
				"full_width": false,
				"content_position": "center",
				"content_alignment": "center",
				"content_max_width": 750,
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_2"
			},
			"blocks": [
				{
					"type": "heading",
					"settings": {
						"sub_heading": "",
						"heading": "Timeless elegance redefined",
						"heading_size": "smi-h2",
						"description": "<p>Explore the epitome of style with our latest fashion collection. Immerse yourself in timeless elegance as classic trends seamlessly blend. From casual chic to sophisticated glamour, discover curated pieces that transcend seasons. Elevate your wardrobe fashion with our exclusive designs and impeccable craftsmanship.</p>"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#fcf8f5",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#fcf8f5",
						"outline_button_color": "#000000",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}

<script type="text/javascript">
!function(){"use strict";class e{sectionEl=null;constructor(e){this.removeLastMB(e)}removeLastMB(e){const t=document.querySelector(`.smi-section-block-${e.replace("smi-","")}`);if(t){let s=JSON.parse(t.getAttribute("data-block")),o=parseInt(s.color_pos),m=parseInt(s.bkg_pos),c=parseInt(s.all_block),i=o>m?o:m,n=o>m?m:o,l=0;i==c&&(l=n==i-1?n-1:i-1),l>0&&["smi-mb-xxl","smi-mb-xl","smi-mb-lg","smi-mb-md","smi-mb-sm","smi-mb-xs"].forEach((t=>{document.querySelector(`.smi-block-postion-${l}-${e.replace("smi-","")}`).classList.remove(t)}))}}}const initialize=()=>{new e("smi-{{ section.id }}")};Shopify.designMode&&("complete"===document.readyState&&initialize(),document.addEventListener("smiReloadSection",initialize)),document.addEventListener("DOMContentLoaded",initialize)}();
</script>